.main__logo {
    width: 100%;
    margin: 1em 2em;
}

.main__logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: 4px solid white;
}

.main__logo h3 {
    margin: 1em 0;
}

.status {
    background-color: transparent;
    color: rgba(128, 250, 250, 0.85);
    font-style: italic;
    cursor: pointer;
}

.statusInput {
    background-color: white;
    color: black;
}